<div class="container">
	<div class="row justify-content-md-left">
		<div class="col col-md-4"><%=f.label(:password, "Password")%></div>
		<div class="col col-md-4"><%= f.password_field(:password, placeholder: "Enter Your Password") %></div>
	</div>
	<div class="row justify-content-md-left">
		<div class="col col-md-4"><%=f.label(:password, "Password Confirmation")%></div>
		<div class="col col-md-4"><%= f.password_field(:password_confirmation, placeholder: "Re-enter Your Password") %></div>
	</div>
	
</div>	
