<div class="new user">
  <h2>User Registration</h2>

  	<%= form_for @user, :url =>change_password_user_path, method: :post do |f| %>
 	<%= render(:partial =>"password_change_form", :locals => {:f => f}) %>
 	<div class="row justify-content-md-center">
	    <div class="col col-md-2">
			<%= submit_tag() %>
	    </div>
	</div>

  <% end %>
  <%= link_to("Login", {:controller => 'access',:action => 'index'}) %>
</div>
