// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.body-background{
    background-image: url('maldives_tropical_bungalows_sky_90627_1920x1080.jpg');
    background-size: 100% 800px;
    background-repeat: no-repeat;
}

.error {
  color: red;
}